* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.inner-container {
    max-width: 1000px;
    margin: 0 auto;
}

header, footer {
    background: #252525;
    color: white;
    padding: 20px 0;
}

main {
    margin: 40px 0;
}

.hidden {
    display: none;
}

.button-container {
    margin-bottom: 20px;
}

button {
    margin: 0 20px 0 0;
    padding: 10px 15px;
}